ul{
    list-style: none;
}

.main-body{
    padding: 0 20px;
}

.row-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.vertical-flex{
    display: flex;
    flex-direction: column;
}

.equidis-flex {
    display: flex;
    justify-content: space-evenly;
    background-color: indianred;
    flex-wrap: wrap;
}

.center-flex {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    background-color: lightsalmon;
}



.navbar-item {
    margin: 10px;
}

.card{
    margin: 50px 10px;
    max-width: 200px;
}

.card p{
    margin: 0;
}

.card-big{
    margin: 50px 10px;
    max-width: 400px;
}

.card-grey{
    background-color: grey;
    width: 250px;
    height: 150px;
    text-align: center;
}

/* .card-grey+.card-grey{
    margin: 0 10px;
}
.card-grey+.card-grey:last-child{
    margin: 0;
} */

/* Emulate Gap Support with Flexbox and Margins */
.emulated-flex-gap > * {
    margin: 12px 0 0 12px;
}
  
.emulated-flex-gap {
display: inline-flex;
justify-content: space-between;
flex-wrap: wrap;
margin: -12px 0 0 -12px;
width: calc(100% + 12px);
background-color: lightcoral;
}



.arrow-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.card-image{
    max-width: 200px;
}

.info-image{
    max-width: 400px;
}

.cars{
    max-width: 100%;
}

.card-title{
    font-weight: bold;
}

.card-price{
    color: gray;
}

h3 {
    margin: 0%;
    font-size: 2em;
}

/*cueri pa móvil*/
@media screen and (max-width: 480px) { 



    .card-grey{
        max-width: 180px; /*no arregla nada porque al crecer y menguar se estropea*/
    } 
 }

 @media screen and (max-width: 938px) and (min-width: 715px){ /*no mola que no marca ancho móvil*/

    .equidis-flex {
        flex-wrap: nowrap;
    }

    .card{
        min-width: 150px;
        flex-basis: 355px;
        background-color: lightsalmon;
    }
 }